@{ 
    Layout = null;
}
<div class="table">
  
    <table ID="PrestamosClientesTable" class="container table table-bordered table-hover no-footer dataTable" cellspacing="0">
        <thead>
            <tr class="info">
                <th>
                    Crédito
                </th>
                <th>
                    Solicitud
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Monto
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Int. Corriente
                </th>
                <th>
                    Int. Mora
                </th>
                <th>
                    Monto Cuota
                </th>
                <th>
                    Cap. Pendiente
                </th>

            </tr>
        </thead>
        <tbody class="tbody GridPrestamos"></tbody>
    </table>
</div>
<!---<script src="~/Scripts/Proyecto/ColaCobros.js"></script>-->
<script type="text/javascript">
            @if (!User.Identity.IsAuthenticated)
            {

                System.Web.Security.FormsAuthentication.SignOut();
                System.Web.Security.FormsAuthentication.RedirectToLoginPage();
                Response.Redirect(FormsAuthentication.LoginUrl, true);
            }

</script>