<<<<<<< HEAD
﻿@{ 
    Layout = null;
}
<div class="table">
  
    <table ID="PrestamosClientesTable" class="container table table-bordered table-hover no-footer dataTable" cellspacing="0">
        <thead>
            <tr class="info">
                <th>
                    Crédito
                </th>
                <th>
=======
﻿@{
    ViewBag.Title = "consultarPrestamosCliente";
}

<script src="~/Scripts/Proyecto/ColaCobros.js"></script>
<link href="~/Styles/DataTable.css" rel="stylesheet" />
<link href="~/Styles/DataTabledtr.css" rel="stylesheet" />

<script src="~/Scripts/Proyecto/DataTables 1.10.15.js"></script>
<script src="~/Scripts/Proyecto/DataTable Bootstrap.js"></script>

<link href="~/Styles/Site.css" rel="stylesheet" />

<div class="table">
  
    <table ID="PrestamosClientesTable" class="table table-bordered" cellspacing="0">
        <thead>
            <tr class="info">
                <th >
>>>>>>> 02077533187183e7a76adbfd15db5d101424f851
                    Solicitud
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Monto
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Int. Corriente
                </th>
                <th>
                    Int. Mora
                </th>
                <th>
                    Monto Cuota
                </th>
                <th>
<<<<<<< HEAD
                    Cap. Pendiente
                </th>

=======
                   Cap. Pendiente
                </th>
                
>>>>>>> 02077533187183e7a76adbfd15db5d101424f851
            </tr>
        </thead>
        <tbody class="tbody GridPrestamos"></tbody>
    </table>
<<<<<<< HEAD
</div>
<!---<script src="~/Scripts/Proyecto/ColaCobros.js"></script>-->
<script type="text/javascript">
            @if (!User.Identity.IsAuthenticated)
            {

                System.Web.Security.FormsAuthentication.SignOut();
                System.Web.Security.FormsAuthentication.RedirectToLoginPage();
                Response.Redirect(FormsAuthentication.LoginUrl, true);
            }

</script>
=======
</div>
>>>>>>> 02077533187183e7a76adbfd15db5d101424f851
