@{
    ViewBag.Title = "consultarPrestamosParientes";
}

<script src="~/Scripts/Proyecto/ColaCobros.js"></script>
<link href="~/Styles/DataTable.css" rel="stylesheet" />
<link href="~/Styles/DataTabledtr.css" rel="stylesheet" />

<script src="~/Scripts/Proyecto/DataTables 1.10.15.js"></script>
<script src="~/Scripts/Proyecto/DataTable Bootstrap.js"></script>

<link href="~/Styles/Site.css" rel="stylesheet" />

<div class="table">
    <div class="form-group">

    </div>
    <table ID="HistoFamilyTable" class="table table-bordered table-hover">
        <thead>
            <tr class="info">
                <th>
                    Identificación
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Correo
                </th>
                <th>
                    Celular
                </th>
                <th>
                    Saldo Pendiente
                </th>
            </tr>
        </thead>
        <tbody class="tbody HistoFamily"></tbody>
    </table>
</div>