@{
    ViewBag.Title = "consultarGridCreditos";
}

<script src="~/Scripts/Proyecto/ColaCobros.js"></script>
<link href="~/Styles/DataTable.css" rel="stylesheet" />
<link href="~/Styles/DataTabledtr.css" rel="stylesheet" />

<script src="~/Scripts/Proyecto/DataTables 1.10.15.js"></script>
<script src="~/Scripts/Proyecto/DataTable Bootstrap.js"></script>

<link href="~/Styles/Site.css" rel="stylesheet" />

<div class="table">
 
    <table ID="GridCreditoTable"  class=" table table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr class="info">
                <th>
                    Tipo
                </th>
                <th>
                    Fecha Historial         
                </th>
                <th>
                    Cap. Pend
                </th>
                <th>
                    Orig. Pend
                </th>
                <th>
                    Int. Pend
                </th>
                <th>
                    Mora Pend
                </th>
                <th>
                    Saldo al dia
                </th>
                <th>
                    Tot. Cobro
                </th>
                <th>
                    Cap. Cobro
                </th>
                <th>
                    Orig Cobro
                </th>
                <th>
                    Int Cobrado
                </th>
                <th>
                    Mora Cobro
                </th>
                <th>
                    Saldo
                </th>
            </tr>
        </thead>
        <tbody class="tbody GridCredit"></tbody>
    </table>
</div>

