@*@model TwoFunTwoMeFintech.Models.DTO.BucketCobros*@
@{
    Layout = null;
}
<div class="well mx-auto w-50 p-3 leftspan">
    <div class="container-fluid">
        <div class="input-group">
            <span class="input-group-addon m-sm">Fecha Promesa de Pago:</span>
            <input type="date" data-date="" data-date-format="YYYY MMMM DD" required class="form-control input-sm" id="txtFechaPP" placeholder="Fecha Promesa de Pago">
            <span class="input-group-addon m-sm">Monto PP:</span>
            <input type="number" class="form-control  input-sm" id="txtMontoPP" required placeholder="Monto Promesa de Pago">

        </div>
        <div class="input-group">

            <span class="input-group-addon m-sm">Acción llamada:</span>
            <select id="ddlAccionLlamada" required class="form-control input-sm"></select>
            <span class="input-group-addon m-sm">Resultado llamada:</span>
            <select id="ddlResultadoLlamada" required class="form-control input-sm"></select>
        </div>
        <div class="input-group">
            <span class="input-group-addon m-sm">Detalle:</span>
            <textarea class="form-control" rows="8" cols="100" id="txtDetalle" maxlength="500"  required style="margin: 0px; width: 880px; height: 128px;"></textarea>
        </div>
    </div>

    <button type="button" id="btnGuardar" onclick="return guardar();" class="btn btn-primary">Guardar</button>
    @*//INICIO FCAMACHO 22/05/2019 GENERACION DE DOCUMENTO DE NOTIFICACION DE COBRO*@
    <div style="text-align:right">
        <button type="button" id="btnImprimirNotifCobro" onclick="return imprimirNotifCobro();" class="btn btn-primary">Notif. Cobro</button>
    </div>
    @*//FIN FCAMACHO 22/05/2019 GENERACION DE DOCUMENTO DE NOTIFICACION DE COBRO*@
</div>
<script type="text/javascript">
            @if (!User.Identity.IsAuthenticated)
            {

                System.Web.Security.FormsAuthentication.SignOut();
                System.Web.Security.FormsAuthentication.RedirectToLoginPage();
                Response.Redirect(FormsAuthentication.LoginUrl, true);
            }

</script>