@model TwoFunTwoMeFintech.Models.DTO.BucketCobros

@*@{
    Layout = null;
}*@

<script src="~/Scripts/Proyecto/ColaCobros.js"></script>
<link href="~/Styles/DataTable.css" rel="stylesheet" />
<link href="~/Styles/DataTabledtr.css" rel="stylesheet" />

<script src="~/Scripts/Proyecto/DataTables 1.10.15.js"></script>
<script src="~/Scripts/Proyecto/DataTable Bootstrap.js"></script>

<link href="~/Styles/Site.css" rel="stylesheet" />

<div class="table">
 
    <table ID="PromPagTable" class="table table-bordered">
        <thead>
            <tr class="info">
                <th>
                    Crédito
                </th>
                <th>
                    Fecha Géstion
                </th>
                <th>
                    Promesa
                </th>
                <th>
                    Monto Promesa
                </th>
                <th>
                    Fecha Promesa
                </th>
                <th>
                    Acción
                </th>
                <th>
                    Respuesta Gestion
                </th>
            </tr>
        </thead>
        <tbody class="tbody HistoPag"></tbody>
    </table>
</div>