@*@{
    Layout = null;
}*@

<script src="~/Scripts/Proyecto/ColaCobros.js"></script>
<link href="~/Styles/DataTable.css" rel="stylesheet" />
<link href="~/Styles/DataTabledtr.css" rel="stylesheet" />

<script src="~/Scripts/Proyecto/DataTables 1.10.15.js"></script>
<script src="~/Scripts/Proyecto/DataTable Bootstrap.js"></script>

 

<div class="table" >

    <table ID="HistoPromPagoTable" class="table table-bordered">
        <thead>
            <tr class="info">
                <th >
                    Crédito
                </th>
                <th>
                    Fecha Cobro
                </th>
                <th>
                    Fecha Aplicación
                </th>
                <th>
                    Total
                </th>
                <th>
                    Referencia
                </th>
            </tr>
        </thead>
        <tbody class="tbody HistoPromPago"></tbody>
    </table>
</div>