@{
    ViewBag.Title = "AdministracionCreditos";
}
<script src="~/Scripts/Proyecto/AdministracionCredito.js"></script>
<div class="alert alert-info">
    <strong>Administración!</strong> Información del Credito.
</div>
<div class="content">
    <div class="row">
        <div class="form-inline">
            <div class="form-group mb-2">
                <div class="form-group-sm">
                    <div class="input-group">
                        <label class="input-group-addon" for="idCredito">Id Credito:</label>
                        <input type="number" class="form-control" id="txtIdCredito" />
                    </div>
                    <div class="input-group">
                        <select class="form-control" id="ddlAccion">
                            <option value="R">Reiniciar</option>
                            <option value="C">Cancelar</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Aplicar</button>
        </div>
        <br />
        <div class="form-inline">
            <div class="form-group mb-2">
                <div class="form-group-sm">
                    @*<div class="container">
                        <div class="col-md-8 col-md-offset-2">*@
                    @*<form method="POST" action="#" enctype="multipart/form-data">*@
                    <!-- COMPONENT START -->
                    <div class="form-group">
                        <div class="input-group input-file" name="Fichiero">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-choose" type="button">Cargar</button>
                                </span>

                                <input type="text" class="form-control" placeholder='Cargar Archivo...' />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-reset" type="button">Reset</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- COMPONENT END -->
                    @* <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right" disabled>Submit</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                        <p>Submit is disabled because it's not handle on this site
                        <p>Input Reset or Input Choose can be omitted
                        <p>Input Reset or Input Choose can be placed on left or right*@
                    @*</form>*@
                    @*</div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
            @if (!User.Identity.IsAuthenticated)
            {

                System.Web.Security.FormsAuthentication.SignOut();
                System.Web.Security.FormsAuthentication.RedirectToLoginPage();
                Response.Redirect(FormsAuthentication.LoginUrl, true);
            }

</script>