<style>
    .navbar {
        display: none;
    }
</style>
<div>

    <script src="~/Scripts/Proyecto/cambioPass.js"></script>

    <div class="container">

        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">FinTech</h1>
        </div>


        <form class="form-horizontal">
            <fieldset>
                <!-- Form Name -->
                <!--<legend>Form Name</legend>-->
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" required for="usuario_id">Agente</label>
                    <div class="col-md-4">
                        <input id="agente" name="usuario_id" type="text" placeholder="Agente" class="form-control input-md" required>
                    </div>
                </div>
                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="password1">Password</label>
                    <div class="col-md-4">
                        <input id="password" name="password1" onkeyup="validPassword(this);" type="password" placeholder="Password" class="form-control input-md" required>

                    </div>
                </div>
                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Password2">Confirme el Password</label>
                    <div class="col-md-4">
                        <input id="PasswordConfirm" name="Password2" onkeyup="validPassword(this);" type="password" placeholder="Confirme el Password" class="form-control input-md" required>

                    </div>
                </div>
                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="button1id"></label>
                    <div class="col-md-8">
                        <button id="button1id" name="button1id" class="btn btn-success">Cambiar</button>
                        <button id="button2id" name="button2id" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <label id="Error"></label>
                </div>
            </fieldset>
        </form>

        <p />
        <br />
        @if (ViewBag.ErrorMsg != null)
        {
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @ViewBag.ErrorMsg
            </div>
        }

    </div>

</div>



