<div class="col-md-5 center_div hide landscape" id="paso11">
    <form id="solicitud" name="solicitud" class="form-referencia">
       <div>
          <div class="form-row">
             <div class="center-button" style="margin-bottom: 3%">
                <label class="label-referencia" style="text-align: left;">Necesitamos una referencia laboral de tu trabajo</label>
             </div>
          </div>
          <div class="form-row">
             <div class="col form-group">
                <label>Nombre de referencia</label>
                <input type="text" class="form-control" id="nombre_referencia_laboral" autocomplete="off" >
             </div>
          </div>
          <div class="form-row">
             <div class="col form-group">
                <label>Empresa del referente</label>
                <input type="text" class="form-control" id="empresa_referencia_laboral" >
             </div>
          </div>
          <div class="form-row">
             <div class="col form-group">
                <label>Télefono de contacto</label>
                <input type="number" pattern="\d*" class="form-control" id="telefono_referencia_laboral"
                   >
             </div>
          </div>
          <div class="form-group">
             <button onclick="solicitudReferenciaLaboralClick()" type="button" class="btn btn-yellow">Continuar</button>
          </div>
       </div>
    </form>
 </div>