<div class="col-md-5 center_div landscape hide" id="paso4" >
    <form id="solicitud-paso4" name="solicitud-paso4">
       <!--Credito aprobado-->
       <div class="aprobado_credito">
          <div class="form-row">
             <label class="txt_aprobado_gracias">
             Felicidades, tu crédito ha sido aprobado! 
             </label>       
             <div class="col form-group">
                <div class="center-button">
                   <img class="img_aceptado" class="img-responsive" src="assets/img/wila_aceptado.png">
                </div>
             </div>
          </div>
          <div class="form-group">
             <button id="continuar" type="button" class="aprobado_credito btn btn-yellow">Continuar</button>
          </div>
       </div>
       <!--Credito rechazado-->
       <div class="rechazado_credito hide">
          <div class="form-row">
             <div class="form-row" style="margin: auto;">
                <div class="col form-group">
                   <div class="center-button">
                      <img class="img_rechazado" class="img-responsive" src="assets/img/botones/x_rechazado.png">
                   </div>
                </div>
             </div>
             <div class="col form-group">
                <div class="center-button">
                   <img class="img-responsive" src="assets/img/botones/txt_rechazado.png">
                </div>
             </div>
          </div>
       </div>
    </form>
 </div>