<div class="col-md-5 center_div landscape hide" id="paso9">
    <form id="solicitud-condiciones" name="solicitud">
        <h1>Términos y Condiciones</h1>
        <div class="form-row terminos-condiciones">
            <p>
                Entre PLATAFORMA DE ENTRETENIMIENTO TWO FTV SOCIEDAD DE RESPONSABILIDAD LIMITADA,
                con cedula jurídica 3-102-737931, en adelante LA ACREEDORA; y ${Nombre},
                cédula de identidad ${Identificacion}, en adelante el DEUDOR y
                actuando en conjunto denominados como LAS PARTES, convenimos en celebrar el presente
                contrato de préstamo
                de línea de crédito abierta.
            </p>
            <ul id="contract-list">
                <!--1-->
                <li>
                    Las Partes, reconocen y aceptan que acorde el principio de autonomía de la voluntad, por el
                    presente convenio se establecen las disposiciones de un
                    contrato bilateral que se regirá por el artículo 495 y concordantes del Código de Comercio y lo
                    dispuesto por la <span class="bold">LEY DE CERTIFICADOS,
                        FIRMAS DIGITALES, Y DOCUMENTOS ELECTRONICOS</span>, N* 8454, que se podrá concertar
                    mediante
                    manifestaciones expresadas y/o transmitidas por medios
                    electrónicos o informáticos, siendo que las comunicaciones y mensajes recíprocos que las partes
                    se cursen a través de herramientas de comunicación electrónicos, como ser, pero no limitado a,
                    transmisión y recepción de correo electrónico, mensajes cortos SMS, whatsapp,
                    llamadas telefónicas y/o cualquier otro medio utilizado por las partes, se reputaran como
                    válidas y eficaces; quedando a todo efecto probatorio
                    constancia de las mismas, y por ende perfeccionado el contrato de préstamo, pudiéndose
                    almacenar la información que se dirijan las partes,
                    mediante cualquier instrumento que permita ser recuperada durante un período de tiempo
                    adecuado, permitiendo la reproducción sin
                    cambios de la información almacenada.
                </li>
                <!--2-->
                <li>
                    Con la aceptación y firma del presente contrato, la ACREEDORA, otorgará una línea de crédito
                    abierta a favor del DEUDOR, por un límite de
                    crédito de ${MontoProductoLetras} ${Moneda} (${MontoProducto}),
                    según los términos y condiciones estipulados en el presente contrato. Una vez
                    activada la línea de crédito, El DEUDOR podrá solicitar dentro de su límite, los desembolsos
                    que requiera, siendo que EL ACREEDOR desembolsará
                    los valores que a su exclusivo arbitrio y sin necesidad de motivar causa, le apruebe a EL
                    DEUDOR y este acepta y se obliga a pagar en tiempo y
                    forma la totalidad de las sumas que se le giren, así como sus respectivos intereses corriente,
                    moratorios y gastos administrativos, conforme a
                    lo estipulado. Toda suma de dinero solicitada por el DEUDOR por cualquier medio, (mensaje de
                    texto, correo electrónico, whatsapp, etc.
                    y que la ACREEDORA, le transfiera a su cuenta Bancaria, formará parte del crédito.
                </li>
                <!--3-->
                <li>
                    PAGARE.- EL DEUDOR se compromete a suscribir conjuntamente con el presente contrato de
                    préstamo, uno o varios pagarés a favor de EL ACREEDOR,
                    por el total de la línea de crédito, los cuales estarán dispensados del protesto por falta de
                    pago.
                </li>
                <!--4-->
                <li>
                    DEL INTERÉS: El saldo lo pagará LA DEUDORA, en un plazo de ${CantidadCuotas}
                    ${Frecuencia}, a partir de hoy, en ${CantidadCuotas}
                    cuota(as) ${Frecuencia2},
                    fijas y consecutivas de ${Cuota}
                    ${Moneda} cada una, que comprenden abono a capital e intereses sobre los
                    saldos, debiendo hacer el primer pago
                    ${Frecuencia} el día ${FechaPrimerPagoLetras}, hasta cancelar cualquier
                    saldo el día ${FechaUltimoPagoLetras}. La presente obligación
                    devenga a partir
                    de la fecha de la firma del presente contrato, y hasta su
                    efectivo pago, intereses corrientes vencidos calculados
                    sobre saldos de capital adeudado,
                    a una tasa del ${InteresLetras} por ciento diario, (${Interes}%).
                    Los intereses se acumularán día a día y se calcularán sobre la base de
                    un año de trescientos sesenta y cinco días. En
                    cuanto a los INTERESES MORATORIOS, se fijan al
                    treinta por ciento por encima de los intereses
                    corrientes arriba fijados, sobre saldos impagos de
                    capital, hasta cancelar el total de la obligación.
                </li>
                <!-- 5 -->
                <li>
                    GASTOS DE COBRO ADMINISTRATIVO.- En caso de que EL DEUDOR no pague dentro del plazo
                    acordado, deberá pagar además el costo que represente para la Acreedora la gestión de
                    cobro, los cuales serán de cinco mil ${Moneda} (C 5.000) por mes.
                </li>
                <!-- 6 -->
                <li>
                    REEMBOLSOS.- Esta facilidad crediticia es revolutiva, o sea, es posible realizar
                    reembolsos al saldo del crédito, reponiéndose así el disponible del crédito a utilizar.
                    El DEUDOR deberá hacer todos los pagos a la ACREEDORA en forma directa en SAN JOSE- SAN JOSE,
                    CALLE TREINTA Y OCHO, EDIFICIO CENTRO COLON, TERCER PISO, MEZZANINE, o por medio de los
                    agentes que nombre para tal efecto la ACREEDORA, en el lugar o lugares que la ACREEDORA
                    le indique al DEUDOR, o bien en las cuentas bancarias de la Acreedora, que se indican
                    más abajo. Los pagos efectuados con cheque se entenderán realizados hasta la fecha
                    de recepción de los fondos por parte del banco en que se depositen. Los reintegros
                    de cada desembolso se realizarán de acuerdo a la forma pactada con el cliente.
                    El no pago de uno o todos los créditos, desembolsos o de los intereses de
                    la forma pactada se considerará un incumplimiento del presente contrato y el
                    vencimiento anticipado de su plazo sin necesidad de previa declaración
                    judicial o arbitral, con las consecuencias legales correspondientes.
                    <p>
                        PLATAFORMA DE ENTRETENIMIENTO TWO FTV SOCIEDAD DE RESPONSABILIDAD LIMITADA
                    </p>
                    <p>
                        Cédula jurídica 3-102-737931
                    </p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">Cuenta Banco Nacional: 200-01-060-042647-8</div>
                                <div class="col-sm-12">Cuenta Cliente: 1510602001042647</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">Cuenta BCR: 001-0468535-0</div>
                                <div class="col-sm-12">Cuenta Cliente: 15201001046853503</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">Cuenta BAC San José: 936055474</div>
                                <div class="col-sm-12">Cuenta Cliente: 10200009360554746</div>
                            </div>
                        </div>
                    </div>
                </li>
                <!------------  7 ------------------->
                <li>
                    ESTIPULACIONES SOBRE El PAGO.- Todos y cada uno de los giros o desembolsos parciales
                    que se formalicen al amparo de este crédito, se contabilizarán o registrarán como
                    operaciones derivadas de un mismo crédito y además deberán ser pagadas por el DEUDOR
                    según lo establecido para estos contratos, sea, mediante abonos mensuales consecutivos,
                    imputables capital e Intereses, proporcionales al monto y plazo de cada giro.
                    El DEUDOR se compromete a pagar a la ACREEDORA el monto total de las sumas recibidas y
                    que forman parte del crédito revolutivo, los cargos administrativos en que incurra la
                    ACREEDORA, para la gestión y cobro del crédito, intereses corrientes y eventualmente
                    moratorios, los costos en que incurra la ACREEDORA, por las gestiones de cobro
                    administrativo, judicial o por causa de morosidad del DEUDOR, así como cualquier cargo
                    originado por los productos adicionales que ofrece la ACREEDORA y que hayan sido
                    solicitados por el DEUDOR mediante las vías autorizadas para tal efecto. El DEUDOR podrá
                    en cualquier momento cancelar o pagar la totalidad de la deuda o desembolsos recibidos,
                    así como realizar abonos extraordinarios al saldo, sin que por ello sufra penalización
                    alguna. El DEUDOR conviene y acepta que la ACREEDORA se reserve el derecho de la
                    imputación de todos los pagos realizados en cualquier momento por el DEUDOR. Para efectos
                    de la deducción automática de cuotas o saldos vencidos, el DEUDOR autoriza en este acto
                    a que se debiten los montos indicados
                    de la cuenta cliente en ${Moneda}
                    ${CtaCliente} en cualquier momento en que la cuenta tenga
                    fondos disponibles.
                </li>
                <!------------  8 ------------------->
                <li>
                    El DEUDOR consiente en suministrar a EL ACREEDOR la información que se le solicite la cual
                    tiene carácter facultativo. A su vez consiente que la misma será recopilada, a efectos de
                    evaluar la solicitud y manifiesta que conoce y que ha sido informado de lo dispuesto por la Ley
                    de Protección de la Persona frente al tratamiento de sus datos personales No 8968 y en tal
                    sentido de la existencia de una base de datos de carácter personal. Que sus datos personales se
                    solicitan y recolectan para los efectos de evaluar las condiciones del presente contrato de
                    préstamo; que los destinatarios de los datos personales compilados son la Acreedora y sus
                    funcionarios, así como los burós de crédito con los cuales trabaja la ACREEDORA; los datos
                    personales serán procesados y analizados para efectos del objeto del presente Contrato, por
                    medios informáticos y que no otorgar o revocar dicha autorización podría conllevar a que la
                    ACREEDORA no otorgue el préstamo solicitado, todo lo cual entiende y acepta el DEUDOR. El
                    DEUDOR autoriza a su vez a los burós de crédito, a compartir la información a terceras personas
                    de conformidad con la ley. Por último, se le informa al DEUDOR de sus derechos acordes el
                    artículo 7 de la citada ley, en cuanto su derecho el acceso de sus datos personales,
                    rectificación o supresión de éstos, como que el responsable de la base de datos, es la
                    ACREEDORA. A su vez, el DEUDOR presta su expreso consentimiento y aceptación, a que se utilicen
                    y/o cedan sus datos para las gestiones de sistemas de llamada automática por voz, correo
                    electrónico, sin intervención humana, o cualquier otro dispositivo para brindar información,
                    así también como cursar invitaciones acerca de servicios con características similares, a
                    través de cualquier medio, incluyendo el envío de mensajes de texto SMS, mensajes de voz IVR,
                    whatsapp, correo electrónico, etc.. El DEUDOR conoce que podrá revocar su consentimiento al
                    tratamiento de sus datos personales en cualquier momento.
                </li>
                <!------------  9 ------------------->
                <li>
                    GARANTÍA DE PAGO. En caso de incumplimiento por parte del deudor responderá por el capital
                    adeudado, los intereses corrientes, cargos, costas personales y procesales de la eventual
                    ejecución
                    y demás responsabilidades pecuniarias, el patrimonio del DEUDOR.
                </li>
                <!------------  10 ------------------->
                <li>
                    IMPUESTOS Y OTROS.- Todos los impuestos, tasas, derechos, gravámenes, retenciones o
                    contribuciones fiscales, que existan o que llegare a imponer en un futuro cualquier autoridad
                    política, administrativa o jurisdiccional de la República de Costa Rica, y que sean derivados
                    del presente contrato, serán asumidos íntegramente por el DEUDOR, quien se obliga a
                    reembolsarlos a la ACREEDORA. En consecuencia, todos los pagos que el DEUDOR debe hacer a la
                    ACREEDORA según esta cláusula, deberé hacerlos pura, simple e incondicionalmente, sin
                    compensación ni reclamación alguna.
                </li>
                <!------------  11 ------------------->
                <li>
                    LA VIGENCIA. La vigencia del presente contrato es un plazo de tres meses,
                    contados a partir del día de hoy, prorrogable automáticamente por periodos iguales salvo que
                    alguna de las partes decida no renovarlo, para lo cual deberá notificar a la contraparte, con
                    al menos treinta (30) días naturales de antelación al vencimiento. El DEUDOR entiende y acepta
                    que deberá de haber cancelado a la ACREEDORA todos los montos adeudados bajo este contrato, al
                    momento de su terminación.
                </li>
                <!------------  12 ------------------->
                <li>
                    EXIGIBILIDAD DE LO ADEUDADO Y RENUNCIAS. La falta oportuna de pago de un solo
                    abono, de los abonos imputables a capital o de una sola de las cuotas mensuales de interés en
                    cualquiera de los giros, o el incumplimiento de cualquiera de las obligaciones aquí contraídas,
                    facultará a la ACREEDORA para tener por vencidas y exigibles en su totalidad las sumas
                    adeudadas y para cobrar coercitivamente en la sede respectiva lo adeudado con motivo de esta
                    facilidad crediticia, representada por todos y cada uno de los giros efectuados, mediante notas
                    de débito al amparo de la misma, intereses, comisiones y penalidades que se hubieren generado.
                    El suscrito DEUDOR autoriza de forma irrevocable, a la ACREEDORA, para reportar su morosidad a
                    las empresas protectoras de créditos, burós de créditos o cualquier entidad que se dedique a
                    supervisar el historial crediticio de las personas, con las que la ACREEDORA tenga convenios,
                    en caso de incumplimiento de sus obligaciones derivadas del presente contrato.
                </li>
                <!------------  13 ------------------->
                <li>
                    RESOLUCIÓN DE CONTROVERSIAS Y LEY APLICABLE. Todas las controversias, diferencias, disputas o
                    reclamos que pudieran derivarse del presente contrato, de su ejecución, incumplimiento,
                    liquidación, interpretación o validez, incluyendo pero sin limitarse al incumplimiento del
                    DEUDOR, se resolverán en la jurisdicción ordinaria; el conflicto se dilucidará con la ley
                    sustantiva de Costa Rica.
                </li>
                <!------------  14 ------------------->
                <li>
                    CESIÓN DEL CRÉDITO. El DEUDOR acepta expresamente que el derecho de crédito que
                    tiene la ACREEDORA sobre este préstamo podrá ser negociado y cedido a una tercera persona,
                    física y/o jurídica, sin que para ello se requiera de su autorización. El DEUDOR no podrá ceder
                    el presente contrato de préstamo ni los derechos y obligaciones bajo el mismo, a favor de
                    terceras personas físicas y/o jurídicas, sin el consentimiento previo y por escrito de la
                    acreedora.
                </li>
                <!------------  15 ------------------->
                <li>
                    DE LA CONSERVACIÓN DEL CONTRATO. Las partes acuerdan que la declaratoria de
                    nulidad de alguna cláusula del presente contrato, no anulará la totalidad del mismo, siendo
                    posible la aplicación del resto de las disposiciones contractuales.
                    <p>
                        En fe de lo anterior firmamos en la ciudad de San José, en dos tantos del mismo tenor, el
                        ${FechaHoy}.
                    </p>
                </li>
            </ul>
            <ul style="list-style-type:none;">
                <li>
                    <p>
                        El Deudor ……………………………………………
                    </p>
                </li>
                <li>
                    <p>
                        La Acreedora ……………………………………………
                    </p>
                </li>
                <li>
                    <p>
                        Cédula ……………………………………………
                    </p>
                </li>
            </ul>

            <div id="pagare">
                <h5 class="text-center">Pagaré</h5>
                <div>
                    <p>
                        Mediante el presente PAGARE NO A LA ORDEN, se hace constar que ${Nombre}, cédula número
                        ${Identificacion} (EL DEUDOR); promete pagar pura, simple e incondicionalmente a favor de
                        PLATAFORMA DE ENTRETENIMIENTO TWO FTV LTDA., con cédula jurídica número 3-102-737931 (LA
                        ACREEDORA) la suma de (${MontoProductoPagare}) ${MontoProductoLetrasPagare} ${Moneda},
                        mediante (${CantidadCuotas}) ${CantidadCuotasLetras} cuotas ${Frecuencia2}, fijas y
                        consecutivas de ${Moneda} ${CuotaenLetras} (¢${Cuota}) cada una, las cuales cubren
                        amortización a capital e intereses corrientes, debiendo pagar la primera cuota el día
                        ${FechaPrimerPagoLetras} ${PagoProximasCuotas}. Los pagos deberán realizarse en SAN JOSE-
                        SAN JOSE, HOSPITAL, CALLE TREINTA Y OCHO, EDIFICIO CENTRO COLON, TERCER PISO, MEZZANINE, o
                        por lo medios que la Acreedora indique. El no pago en tiempo y forma de cualquiera de las
                        cuotas, hará vencida y exigible toda la obligación, sin trámite previo. La presente
                        obligación genera intereses corrientes del ${InteresLetras} por ciento diario
                        (${Interes}%) sobre el saldo de capital adeudado. Los intereses se acumularán día a día y
                        se calcularán sobre la base de un año de trescientos sesenta y cinco días. En caso de mora,
                        la obligación devengará intereses moratorios al treinta por ciento sobre la tasa pactada
                        para los intereses Corrientes. El Deudor renuncia a su domicilio y a los requerimientos de
                        pago. Este título se rige por el Código de Comercio de la República de Costa Rica y se
                        suscribe en San José, el día ${FechaHoy}.

                        Firma Deudor:

                        Nombre Completo:

                        Número de Cédula:


                        ORDEN DE AUTORIZACIÓN DE DÉBITO PERSONAS FÍSICAS
                        Escriba en cada casilla, utilizando letra imprenta según la muestra. Para facilitar el
                        proceso de
                        captura automatizada de la información, no tocar los bordes de las casillas Formulario No:
                        Código del Cliente: ______________________ YO ${Nombre} Con el
                        número de identificación: ${Identificacion} autorizo a PLATAFORMA DE ENTRETENIMIENTO TWO
                        FTV SOCIEDAD DE RESPONSABILIDAD LIMITADA Número de Cédula: 3 - 102 – 737931 A debitar de mi
                        cuenta cliente o IBAN número: ${CtaCliente}


                        Cuenta que se encuentra en la siguiente moneda X CRC USD, hasta un monto máximo de
                        ${MontoProductoPagare} colones al mes por "CÓDIGO"
                        Además solicito se me notifique al email: ${Correo}.es
                        También se me puede contactar al teléfono: ${TelefonoCel}
                    </p>

                    <div class="line"></div>
                    <p>
                        Firma y Número de Cédula, Fecha
                    </p>
                    <p>
                        El suscrito, declara bajo la fe de juramento que, toda la información que a proporcionado
                        en el presente formulario es cierta, exacta, verdadera, no contiene ningunafalsedad o
                        inexactitud y entiendo y acepto los propósitos para los cuales ha sido proporcionada.
                        Asimismo, entiendo y acepto que desde el sistema PAYBAC de BancoBAC San José, S.A., puedo
                        consultar todos los débitos que se realizarán con base en la presente autorización.

                    </p>

                </div>

            </div>
        </div><!-- .terminos-condiciones -->
        <div class="form-row">
            <div class="col form-group">
                <button id="continuar-terminos" type="button" class="form-control terminos-continuar-declino"><i class="fa fa-times"
                        aria-hidden="true"></i> Declino</button>
            </div>
            <div class="col form-group">
                <button onclick="aceptarTerminosClick()" id="continuar-terminos" type="button" class="form-control terminos-continuar-acepto"><i class="fa fa-check"
                        aria-hidden="true"></i> Acepto</button>
            </div>
        </div>
    </form>
</div>