<div class="col-md-5 center_div landscape hide" id="paso3">
    <form id="solicitud-paso3" name="solicitud-paso3">
        <div>
            <div class="form-row">
                <div class="col form-group">
                    <video controls="true" id="video" width="100%" controls webkit-playsinline="true" playsinline="true"
                        src="assets/img/video_final.mp4">
                        Su navegador no soporta los videos, por favor eliga otro navegador para poder continuar.
                    </video>

                    <div class="center-button">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        <label style="text-align: center; margin-top: 1em">
                            Estamos procesando tu solicitud. Cuando el video acabe podrás continuar con el siguiente
                            paso</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button id="continuar" type="button" class="form-control btn-continuar-gif hide">Continuar</button>
            </div>
        </div>
    </form>
</div>