<div class="row">
    <div id="steps-wrap">
        <!--**********Paso 1 Selección del producto*********-->
        <!--#include file="step1.html"-->
        <!--#include file="step2.html"-->
        <!--#include file="step3.html"-->
        <!--#include file="step4.html"-->
        <!--#include file="step5.html"-->
        <!--#include file="step6.html"-->
        <!--#include file="step7.html"-->
        <!--#include file="step8.html"-->
        <!--#include file="step9.html"-->
        <!--#include file="step10.html"-->
        <!--#include file="step11.html"-->
    </div><!-- #steps-wrap -->
</div>