@{
	Layout = null;
}
<h4 id="mensajeAccion" class="titulo-tesoreria accordion-toggle alert" style="display:none"></h4>
<div>
	<div class="form-group">

	</div>
	<table ID="UserTable" class="container table table-bordered table-hover no-footer dataTable">
		<thead>
            <tr class="info">
                <th>
                    Identificacion
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Motivo
                </th>
                <th>
                    Activo
                </th>
                <th>
                    Accion
                </th>
                <th id="thUserTableAccion" width="300px;">
                    Accion
                </th>
            </tr>
		</thead>
		<tbody class="tbody"></tbody>
	</table>
</div>
<style type="text/css">
	.thUserTableAccion {
		width: 300px !important;
	}
</style>
<div class="modal fade" Id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <div class="modal-header titulo-modal">
                    <p id="idEditarAgente" class="alert alert-info"><strong></strong></p>
                </div>
			<div class="modal-body modal-editar-agente">
                <form>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="lblIdentificacion">Identificacion</label>
                            <input type="text" class="form-control control-editar-usuario" id="txtIdentificacion" placeholder="Identificacion" disabled="disabled" />
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="hidden" id="hdnId" value="">
                            <label for="Teléfono">Teléfono</label>
                            <input type="text" class="form-control control-editar-usuario" id="txtTelefono" placeholder="Teléfono" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control control-editar-usuario" id="txtNombre" placeholder="Nombre" />
                        </div>
                    </div>
                    <div>
                        <div class="form-group col-lg-6">
                            <label for="Motivo">Motivo</label>
                            <input type="text" class="form-control control-editar-usuario" id="txtMotivo" placeholder="Motivo" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="Activo">Activo</label>
                            <input type="checkbox" class="form-control control-editar-usuario" id="chkActivo" placeholder="Activo" />
                        </div>
                    </div>
                    <div>
                        <div class="form-group col-lg-6">
                            <label for="Accion">Accion</label>
                            <select id="ddlAccion" selected="selected">
                                <option value="1">Rechazado</option>
                                <option value="2">Condicional</option>
                            </select>
                        </div>
                        
                    </div>
                </form>
			</div>
			<div class="modal-footer footer-editar-agente">
				<button type="button" class="btn btn-primary" Id="btnUpdate" style="display:none;" onclick="Update();">Actualizar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearTextBox();">Cerrar</button>
			</div>
		</div>
	</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script type="text/javascript">
            @if (!User.Identity.IsAuthenticated)
            {

                System.Web.Security.FormsAuthentication.SignOut();
                System.Web.Security.FormsAuthentication.RedirectToLoginPage();
                Response.Redirect(FormsAuthentication.LoginUrl, true);
            }

</script>