
CREATE TABLE [dbo].[agente](
	[cod_agente] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[pass] [varchar](100) NOT NULL,
	[vendedor] [char](1) NULL,
	[fecha_cambiopassword] [date] NULL,
	[STR_USUARIO_AD] [varchar](50) NULL,
	[STR_COD_AGENTE_PADRE] [varchar](20) NULL,
	[BIT_DISPONIBLE] [bit] NULL,
	[INT_COD_AREA] [int] NULL,
	[FEC_CREACION] [datetime] NULL,
	[FEC_MODIFICACION] [datetime] NULL,
	[estado] [varchar](10) NULL,
	[correo] [varchar](150) NULL,
	[ConfiguracionBucket] [varchar](50) NULL,
	[ROLID] [int] NOT NULL,
 CONSTRAINT [PK_agente] PRIMARY KEY CLUSTERED 
(
	[cod_agente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgenteMenu]    Script Date: 25/10/2018 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgenteMenu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COD_AGENTE] [varchar](20) NULL,
	[IDSUBMENU] [int] NULL,
 CONSTRAINT [PK_AgenteMenu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAINMENU]    Script Date: 25/10/2018 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAINMENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAINMENU] [varchar](50) NULL,
 CONSTRAINT [PK_MAINMENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 25/10/2018 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLES] [varchar](50) NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBMENU]    Script Date: 25/10/2018 16:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBMENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBMENU] [varchar](50) NULL,
	[CONTROLLER] [varchar](100) NULL,
	[MAINMENUID] [int] NULL,
	[ROLEID] [int] NULL,
	[ACTION] [varchar](100) NULL,
 CONSTRAINT [PK_SUBMENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
