<!-- Modal -->
<div class="modal fade" id="modal-consentimiento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:black;">
                    Términos y condiciones
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 1.5rem" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>
                    CONSENTIMIENTO INFORMADO (LEYN* 8968)
                </h4>
                <div class="pb-3">
                    Quien suscribe el presente consentimiento Informado, (<span class='span-nombre-completo'></span>),
                    portador de la cédula de identidad número (<span class="span-cedula"></span>), mayor de edad y
                    capaz, expresamente autorizo a la
                    entidad PLATAFORMA DE ENTRETENIMIENTO TWO FTV LIMITAD , cédula de persona Jurídica N* 3-102-737931,
                    (en
                    adelante LA EMPRESA) a que recopile, procese, transfiera, comparta y de tratamiento a la
                    información de
                    datos personales de acceso irrestricto y/o de acceso restringido, incluido mi historial crediticio
                    y la
                    mora del pago de todo y cualquier servicio, para análisis presentes y futuros, para lo cual acepto
                    y
                    manifiesto tener pleno conocimiento que los datos brindados serán incluidos en una base de datos
                    cuyo
                    titular y/o administrador es LA EMPRESA, ello por ser un requisito para continuar con el proceso de
                    solicitud de crédito con LA EMPRESA.
                </div>

                <div class="pb-3">
                    Esta base de datos podrá ser usada por LA EMPRESA, sus colaboradores, subsidiarias, y empresas
                    relacionadas, adicionalmente, LA EMPRESA queda autorizado para transferir dicha información, sin
                    requerir ningún consentimiento adicional, así como para almacenarla.
                </div>

                <div class="pb-3">
                    Asi mismo doy mi expreso consentimiento y aceptación, a que se cedan a terceros socios comerciales
                    de
                    la Empresa, los derechos de las base de datos generadas, para las gestiones de sistemas de llamada
                    automática por voz, fax, correo electrónico, con o sin intervención humana, o cualquier otro
                    dispositivo para brindar información para la venta directa de productos o servicios con
                    características
                    similares, sin necesidad de notificación previa.
                </div>
                <div class="pb-3">
                    Para ejercer los derechos de acceso, rectificación, supresión y revocación, así como cualquier otro
                    derecho establecido en la Ley No. 8968, Ley Protección de la Persona frente al Tratamiento de sus
                    Datos
                    Personales, se puede realizar en SAN JOSE- SAN JOSE CALLE TREINTA Y OCHO, EDIFICIO CENTRO COLON,
                    TERCER
                    PISO, MEZZANINE.
                </div>
                <div class="pb-3">
                    Por todo ello doy fe que conozco y acepto según el art. 5 de la Ley N* 8968: de la existencia de
                    una
                    base de datos manejada por la Empresa; de los destinatarios de la información brindada, así como de
                    quienes podrán consultarla; del carácter obligatorio o facultativa de sus respuestas a las
                    preguntas
                    que se le formulen durante la recolección de los datos; del tratamiento que se dará a los datos
                    solicitados; de la posibilidad de ejercer los derechos que la ley N* 8968 me asisten; De la
                    identidad y
                    dirección del responsable de la administración de la base de datos.
                </div>
                <p>
                    San José,<span id="fecha-consentimiento"></span>
                </p>

                <p>
                    Firma
                </p>

                <p>
                    Nombre: <span class='span-nombre-completo'></span>

                </p>

                <p>
                    Cedula: <span class='span-cedula'></span>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>