<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- SEO Meta Tags -->
   <meta name="description" content="Somos un Grupo Financiero Centroamericano, con base en Costa Rica, que tenemos como objetivo ayudar a todas las familias de Centroamérica en solucionar urgencias o imprevistos financieros.">
   <meta name="author" content="Efectivo-Ya!">
   <meta name="keywords" content="creditos rapidos, prestamos pequeños, prestamos Costa Rica">
   <meta property="og:url" content="http://efectivo-ya.net" />
   <meta property="og:title" content="Efectivo ya!" />
   <meta property="og:description" content="Somos un Grupo Financiero Centroamericano, con base en Costa Rica, que tenemos como objetivo ayudar a todas las familias de Centroamérica en solucionar urgencias o imprevistos financieros." />
   <meta property="og:image" content="http://efectivo-ya.net/assets/images/logo.jpg" />
   <title>Efectivo-Ya</title>
   <link rel="icon" type="image/png" href="assets/img/favicon2.png" sizes="64x64">
   <!-- Styles -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
   <!-- <link href="assets/css/bootstrap.css" rel="stylesheet">-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous">
   <link href="assets/css/font-awesome.css" rel="stylesheet">
   <link href="assets/css/swiper.css" rel="stylesheet">
   <link href="assets/css/magnific-popup.css" rel="stylesheet">
   <link href="assets/css/styles.css" rel="stylesheet">
   <link href="assets/css/bootstrap-slider.css?v=1" rel="stylesheet">
   <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
   <style>
      @import "assets/css/css.css?v=12";
      @import "assets/css/steps.css?v=12";
   </style>
   <script src="assets/js/utils.js?v=12"></script>
   <script src="assets/js/user-public-ip.js?v=12"></script>
   <script src="assets/js/env.js?v=12"></script>
   <!-- Favicon  -->
   <!-- Favicon pendiente-->