@{
    ViewBag.Title = "Index";
}
<link href="~/Styles/GestionCartera.css" rel="stylesheet" />
<div class="fondo-general"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="titulo-pagina-gestion-cartera">
            <h1 id="lblTituloGestionCartera">Gestiones de Cartera</h1>
        </div>
    </div>
</div>
<div class="contenido-general row">
    <div class="col-md-12 ">
        <div class="table-responsive">
            <div>
                <table id="tableAdminGestionCartera" class="container table table-bordered table-hover no-footer dataTable">
                    <thead>
                        <tr class="info">
                            <th>Id Credito</th>
                            <th>Tipo Gestion</th>
                            <th>Fecha Ingreso</th>
                            <th>Usuario Ingreso</th>
                            <th>EstadoGestion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tblAdminGestionCartera" class="tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Proyecto/GestionCartera/AdministrarGestionesCartera.js"></script>